.pink-theme {
  ion-content {
    background-color:#fac4dd!important;
  }

  .toolbar-background  {
    background-color: #61a6e8!important;
  }
  .bg-light{
    background-color: #61a6e8;
  }
  .toolbar-background  {
    background-color: #61a6e8!important;
  }
  .toolbar-background  {
    background-color: #61a6e8!important;
  }
  .bg-purple{
    background-color: #61a6e8  ;
  }

  .bg-yellow{
    background-color: #61a6e8;
    color: #fff;
  }
  .fab {
    color: white !important;
    background-color:#61a6e8 ;
  }
  .primary-color {
    color: #b5dbff ;
  }
  .button-md,.btn-color{
    background-color: #61a6e8 !important;
    color:#fff;
  }
  .button-outline-md{
    border-color: #fff;
  }
  .toggle-inner {
    background-color: #61a6e8 !important;

  }
  .toggle-icon {
    background-color: #fac4dd !important;

  }
}
