.green-theme {
  ion-content {
    background-color:#dff0de!important;
  }

  .toolbar-background  {
    background-color: #4faf4d!important;
  }
  .bg-light{
    background-color: #8fcc8d;
  }
  .toolbar-background  {
    background-color: #4faf4d!important;
  }
  .toolbar-background  {
    background-color: #4faf4d!important;
  }
  .bg-purple{
    background-color: #4faf4d  ;
  }

  .bg-yellow{
    background-color: #4faf4d;
    color: #fff;
  }
  .fab {
    color: white !important;
    background-color:#4faf4d ;
  }
  .primary-color {
    color: #4faf4d ;
  }
  .button-md,.btn-color{
    background-color: #4faf4d !important;
    color:#fff;
  }
  .button-outline-md{
    border-color: #fff;
  }
  .toggle-inner {
    background-color: #4faf4d !important;

  }
  .toggle-icon {
    background-color: #dff0de !important;

  }
}
