.blue-theme {
  ion-content {
    background-color:#171717!important;
    color:white;
  }

  .toolbar-background  {
    background-color: #61b9d3!important;
  }

  .fab {
    color: white !important;
    background-color:#61b9d3 ;
  }
  .primary-color {
    color: #f391a0 ;
  }
  .button-md,.btn-color{
    background-color: #61b9d3 !important;
    color:#fff;
  }
  .button-outline-md{
    border-color: #fff;
  }


}
